
{% extends "base.html" %}

{% block content %}

    <section id="internal">
        <header>
            <h2>Bienvenido a RentaCar S.L</h2>
        </header>
        <section>
            <h3>Solucionamos su movilidad.</h3>
            <p>¿Se le ha estropeado su coche?</p>
            <p>¿Se ha ido de vacaciones a una ciudad, pueblo y no tiene transporte?</p>
            <p>No se preocupe porque en RentaCar tenemos a su disposición, cualquier vehículo de movilidad.</p>
            <p>Tenemos los precios más asequibles y competitivos del mercado, además, nuestro parque móvil es de última generación del mercado.</p>
        </section>
        <section>
            <h3>Nuestro Parque</h3>
            <div class="service-container">
                <div class="card">
                    <img src="static/images/cars/600.jpg" alt="Seat 600"/>
                    <h5>SEAT 600</h5>
                </div>
                <div class="card">
                    <img src="static/images/cars/seat-124-1.jpeg" alt="Seat 124"/>
                    <h5>SEAT 124</h5>
                </div>
                <div class="card">
                    <img src="static/images/cars/seat-leon-5d-midnight-black-style-trim-colour-alloy-wheels.png" alt="Seat Leon"/> 
                    <h5>SEAT LEÓN</h5>
                </div> 
         
            </div>
        </section>
    </section>
{% endblock %}
