{% extends "base.html" %}
{% block content %}
<section id="internal">
    <header>
        <h2>Tarifas RentaCar S.L</h2>
    </header>
    <section>
        <h3>Información de Tarifas.</h3>
        <p>Aquí tiene disponible la Información de tarifas</p>
        <table>
            <thead>
                  
                    <tr>
                        <td colspan="2">INFORMACIÓN DE TARIFAS (EUR)</td>
                    </tr>
                
                    <tr>
                        <td>Tiempo</td>
                        <td>Precio</td>
                    </tr>
                 
            </thead>
            <tbody>
                <tr>
                    <td>1 Día</td>
                    <td>25 €</td>
                </tr>
                <tr>
                    <td>3 Días</td>
                    <td>75 €</td>
                </tr>
                <tr>
                    <td>5 Días</td>
                    <td>125 €</td>
                </tr>
                <tr>
                    <td>7 Días</td>
                    <td>175 €</td>
                </tr>
                <tr>
                    <td>15 Días</td>
                    <td>375 €</td>
                </tr>
            </tbody>
        </table>
        <p>Si quiere alquilar un vehículo por un tiempo superior a 15 Días <a href="/about#contact">Póngase en contacto con nosotros</a>.</p>
        <h3>Información General.</h3>
        <p>Tenga en cuenta que una vez efectuado el pago, tal y como se especifica en los <a href="/tos">Términos y condiciones</a>, <strong>no será posible el reembolso.</strong></p>
        <h3>¿Qué necesito para alquilar un coche?</h3>
        <p>Para reservar tu coche, tan solo necesita una tarjeta de crédito o débito. Al retirar el vehículo necesitará:</p>
         
        <ul>
            <li><p>El vale de confirmación o vale electrónico, como prueba de que la reserva está pagada por adelantado.</p></li>
            <li><p>La tarjeta de crédito/débito del conductor principal, con saldo suficiente para cubrir el depósito de seguridad.</p></li>
            <li><p>El permiso de conducir del conductor principal, con una antigüedad mínima de 12 meses (en ocasiones, de 24 meses).</p></li>
            <li><p>El pasaporte o documento de identidad y cualquier otro documento que el proveedor requiera.</p></li>
        </ul>

    </section>
    
</section>
{% endblock %}