{% extends "base.html" %}
{% block content %}
<section id="internal">
    <header>
        <h2>Términos del Servicio.</h2>
        <h4>Rentacar SL.</h4>
    </header>
    <section id="tos">
        <div>
            <img src="static/images/rentacar/rentacar_image_02.jpeg" 
            alt="RentaCar Image" />
        </div>
        
        <div>
            <div id="advertencia">
                <p>Por favor, lea <strong>ATENTAMENTE</strong> los siguientes términos,
                ya que, la aceptación de los mismos es un CONTRATO VINCULANTE entre usted y/o persona jurídica que representa.</p>
            </div>
            <hr/>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi modi, voluptas, ratione quia atque eligendi
                illo quod cumque, dicta ex nostrum! Quam hic cupiditate aperiam explicabo quibusdam, repellendus ut totam!
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi modi, voluptas, ratione quia atque eligendi
                illo quod cumque, dicta ex nostrum! Quam hic cupiditate aperiam explicabo quibusdam, repellendus ut totam!
            </p>
            <p id="parrafo_destacado_tos">Estos términos entran en vigor a partir del <strong>21/02/2024.</strong></p>
        </div>
    
    </section>

</section>
{% endblock %}