{% extends "base.html" %}
{% block content %}
<section id="internal">
    <header>
        <h2>Términos del Servicio.</h2>
        <h4>Rentacar SL.</h4>
    </header>
    <section id="tos">
        <div>
            <img src="static/images/rentacar/rentacar_image_02.jpeg" alt="RentaCar Image" />
        </div>

        <div>
            <div id="advertencia">
                <p>Por favor, lea <strong>ATENTAMENTE</strong> los siguientes términos,
                    ya que, la aceptación de los mismos es un CONTRATO VINCULANTE entre usted y/o persona jurídica que
                    representa.</p>
            </div>
             <div>
                <p>CONDICIONES GENERALES DE rentacardapp.com</p>


                <h5>1. DESCRIPCIÓN DE LA NATURALEZA DEL SERVICIO Y SU CONTRATACIÓN.</h5>



                <p>Las presentes Condiciones Generales se rigen por el Real Decreto Legislativo 1/2007, de 16 de
                    noviembre,
                    por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y
                    Usuarios y otras leyes complementarias, la Ley 34/2002, de 11 de julio, de servicios de la sociedad
                    de
                    la información y de comercio electrónico, y serán competentes los juzgados y tribunales españoles
                    para
                    conocer de cualquier conflicto relacionado con las mismas.</p>
                <p>
                    Cualquier controversia surgida de las presentes Condiciones Generales, así como de la relación que
                    surgiere entre el usuario y RENT A CAR, S.L. se interpretará bajo la legislación española sin
                    perjuicio
                    de lo establecido al respecto en la legislación de protección al consumidor.
                </p>

                <p>
                    A través de la página web de rentacardapp.com, cuyos datos identificativos aparecen al final de
                    estas
                    Condiciones Generales, el cliente tiene acceso a información sobre productos y servicios turísticos
                    de
                    alquiler de vehículos sin conductor, sin perjuicio de su ejecución directa o mediante diferentes
                    empresas de alquiler de vehículos sin conductor u operadores de rent a car (en adelante, los
                    “Operadores”), pudiendo realizar reservas y compras de algunos de sus productos.
                </p>

                <p>
                    La realización por el cliente de reservas o compras de productos o servicios ofrecidos en la página
                    web,
                    quedará sujeta a los términos y condiciones específicos que se establezcan para cada caso. El
                    cliente
                    consiente en aceptar y respetar los términos y condiciones de compra que se establezcan para cada
                    caso
                    que el cliente elija contratar, incluyendo, con carácter enunciativo y no limitativo, el pago de
                    cualesquiera importes devengados y el cumplimiento de cualesquiera normas y restricciones acerca de
                    la
                    disponibilidad de tarifas, productos o servicios. En caso de que existan normas o restricciones
                    especiales que afectaren a determinadas tarifas, productos o servicios seleccionados por el cliente,
                    tales normas o restricciones especiales serán puestas de manifiesto al cliente en la pantalla antes
                    de
                    proceder a la reserva.

                </p>


                <p>
                    Las ofertas, términos y condiciones publicados en el sitio Web de rentacardapp.com pueden ser objeto
                    de
                    modificaciones en cualquier momento, y sin previo aviso. Estas modificaciones no afectarán a las
                    ofertas, términos y condiciones aceptadas por el cliente en el momento de realizar su contratación.
                    El
                    cliente debe revisar los términos y condiciones de rentacardapp.com antes de contratar cualquier
                    servicio o
                    producto para verificar los cambios producidos.

                </p>


                <p>
                    Si el cliente no acepta estos términos y condiciones, no debe utilizar esta página Web. Mediante el
                    uso
                    de nuestra página Web se considerará que ha aceptado estas Condiciones Generales.
                    Recomendamos que el cliente imprima una copia de las presentes Condiciones Generales para
                    consultarlas
                    con posterioridad.

                </p>



                <p>
                    Sin perjuicio de lo anterior, rentacardapp.com pone a disposición de sus clientes su servicio de
                    Atención al
                    Cliente para reclamación o consulta relativa al servicio, sin perjuicio de poder dirigirse al
                    Operador.

                </p>



                <h5>2. CONDICIONES GENERALES DE CONTRATACIÓN ENTRE rentacardapp.com Y EL CLIENTE.</h5>


                <p>
                    El cliente declara que cumple los requisitos necesarios y dispone de capacidad legal necesaria para
                    contratar los servicios ofertados en la Web de rentacardapp.com, de acuerdo con las condiciones más
                    abajo
                    desglosadas, las cuales declara comprender y aceptar. rentacardapp.com no se responsabiliza de la
                    veracidad
                    y exactitud de los datos rellenados por el cliente.

                </p>

                <p>

                    Asimismo, la contratación de algunos productos y servicios exigen disponer de una edad y del permiso
                    de
                    conducir con una antigüedad mínima para el alquiler de determinados vehículos. El cliente será
                    informado
                    de estos requisitos antes de que finalice la compra en los términos y condiciones del Operador para
                    el
                    servicio.

                </p>
                <p>
                    El cliente se compromete a utilizar los servicios y contenidos en nuestra página Web de conformidad
                    con
                    la Ley, así como los términos y Condiciones Generales de los servicios que ofrece rentacardapp.com
                    en
                    cada
                    momento, debiendo abstenerse de emplearlos para:

                </p>
                <div class="list-tos">

                    <ol>
                        <li>Transmitir a terceros no autorizados su nombre y su contraseña, debiendo comunicar
                            inmediatamente a
                            rentacardapp.com el acceso por parte de un usuario no autorizado a dicha información de
                            usuario.
                        </li>
                        <li>Introducir en la red programas de datos susceptibles de provocar daños en los sistemas
                            informáticos de
                            rentacardapp.com, sus Operadores o terceros usuarios de la red interna o de esta página Web.
                        </li>
                        <li>Realizar actividades ilícitas, contrarias a la buena fe, a las costumbres, a la moral o al
                            orden
                            público.</li>
                        <li>Realizar actividades que constituyan una infracción de la regulación sobre propiedad
                            intelectual
                            e
                            industrial o cualquier otra norma del ordenamiento jurídico aplicable.</li>
                        <li>Reproducir, duplicar, vender o explotar para fines comerciales cualquier contenido de la
                            página
                            web.
                            Difundir contenidos de carácter racista, xenófobo, pornográfico, de apología del terrorismo
                            y/o
                            que
                            atenten contra los derechos humanos.</li>
                    </ol>
                </div>





                <h5>3. PROCESO DE RESERVA.</h5>



                <p>El cliente puede reservar el alquiler de un vehículo a través de los canales de venta indicados en
                    estas
                    Condiciones Generales. Salvo indicación expresa por su parte, rentacardapp.com entenderá que el
                    cliente
                    solicita el servicio más económico en las fechas y horas seleccionadas.</p>

                <p>
                    A lo largo o después del proceso de reserva en la página Web de rentacardapp.com, es posible que se
                    ofrezca
                    servicios y productos adicionales en complemento a la reserva. El cliente podrá aceptar o rechazar
                    estos
                    servicios y productos sin que perjudique de ninguna manera a su selección inicial.
                </p>

                <p>
                    Cualquier reserva iniciada se convierte en compra al final del proceso que se describe a
                    continuación,
                    con la creación de un número de localizador (Voucher) y su envío a buzón de correo electrónico del
                    cliente.
                </p>

                <p>
                    Si el cliente compra directamente a través de la página Web de rentacardapp.com, una vez elegido un
                    lugar de
                    recogida del vehículo e introducido las fechas deseadas, el cliente procederá a buscar entre las
                    ofertas
                    disponibles, afinando sus preferencias, posiblemente en varios pasos, con información como el tipo
                    de
                    vehículo que le interesa. Una vez introducidos dichos datos, y antes de que finalice la compra, el
                    cliente podrá acceder a los términos y condiciones del Operador para el servicio, pudiendo proceder
                    a la
                    compra. Si realiza la compra, se enviará al cliente un correo electrónico de confirmación
                    (Bono/Voucher)
                    de la misma con toda la información necesaria para disfrutar del servicio.
                </p>



                <p>
                    El cliente será designado siempre como conductor titular en el contrato, por tanto deberá recoger
                    personalmente y en todos los casos el vehículo.

                </p>


                <p>
                    En caso de hacer la reserva a través del servicio de Atención al Cliente de rentacardapp.com, los
                    agentes
                    guiarán y aconsejarán al cliente sobre la oferta disponible que mejor se adapte a sus necesidades.
                    También le informarán verbalmente de las características del servicio que está contratando, las
                    cuales
                    quedarán especificadas en el e-mail de confirmación de compra que se envíe al cliente.

                </p>


                <p>
                    RENTACAR SL y los sitios web que aministra rentacardapp.com no se hace
                    responsable de los perjuicios que se pudieran derivar de todas aquellas
                    incidencias técnicas que afecten a la red de Internet, al acceso o al mismo aparato electrónico
                    desde el
                    que se efectúa la reserva y que pudieran afectar de alguna manera a la realización de la misma
                    (entendiéndose como incidencias técnicas, a título informativo y no limitativo: interferencias,
                    omisiones, interrupciones, virus informáticos, averías y/o desconexiones en el funcionamiento
                    operativo
                    de este sistema electrónico o en los aparatos y equipos informáticos de los usuarios, etcétera).

                </p>


                <p>
                    En el caso de incidencias en la contratación imputables a rentacardapp.com, ésta informará al
                    contratante de
                    dicha situación, tan pronto tenga conocimiento de la misma, y le proporcionará, en la medida de lo
                    posible, la prestación de los servicios contratados, o en su defecto, si no fuera posible de ningún
                    modo
                    la prestación de los servicios contratados, procederá al reembolso de las cantidades pagadas a
                    rentacardapp.com por el cliente.

                </p>
                <p>

                    El cliente, por su parte, es responsable de comprobar su reserva una vez formalizada para poner en
                    conocimiento de rentacardapp.com las posibles incidencias que pudieran haberse producido durante el
                    proceso
                    de contratación a fin de solventarlas sin perjuicio para las partes.

                </p>

                <p>
                    rentacardapp.com pone a disposición de los clientes para identificar y corregir errores formularios
                    en
                    el
                    apartado “Contacto” o telefónicamente llamando al 111111111. En el caso de clientes que contraten a
                    través de otras agencias deberá dirigirse a las mismas para solicitar la corrección de errores, sin
                    perjuicio de los acuerdos comerciales suscritos entre dichas agencias y rentacardapp.com.


                </p>

                <p>
                    Asimismo, rentacardapp.com comunicará al cliente, a través de su departamento de Atención al
                    Cliente,
                    las
                    posibles incidencias que detecte, producidas durante el proceso de contratación, a fin de
                    solventarlas
                    sin perjuicio de las partes.


                </p>


                <h5>4. VERACIDAD DE LOS DATOS.</h5>



                <p> El cliente confirma que los datos que proporciona, sea directamente a través de nuestra página web o
                    llamando al servicio de Atención al Cliente, son verdaderos. En el caso de falsedad de alguno de los
                    datos, o de que el contratante hubiera facilitado información incompleta relativa a su identidad,
                    así
                    como en la relativa a los requisitos exigidos por rentacardapp.com y los Operadores para la
                    realización
                    del
                    contrato, negándose además a subsanar dicha deficiencia, esta circunstancia podrá afectar a la
                    correcta
                    prestación de los servicios contratados, sin que ello implique responsabilidad alguna para
                    rentacardapp.com.
                </p>



                <h5>5. CANALES DE DISTRIBUCIÓN Y PUNTOS DE VENTA:</h5>

                <p>
                    La contratación de reservas para el alquiler de un vehículo puede hacerse a través de:
                </p>
                <p>

                    La página Web www.rentacardapp.com.
                    La línea de venta telefónica: 111 111 111
                    A través de operadores terceros (Agencias minoristas, Tour operadores, Agencias on-line u otras
                    empresas
                    adheridas a la red comercial por contrato mercantil específico) que tengan acuerdos comerciales con
                    rentacardapp.com.

                </p>




                <h5>6. POLÍTICA DE COBROS.</h5>



                <p>Dada la naturaleza telemática de la contratación, rentacardapp.com no acepta en ningún caso dinero en
                    efectivo para su pago.
                </p>


                <h5>7. DOCUMENTACIÓN NECESARIA PARA RECOGER UN VEHÍCULO.</h5>

                <p>Todos los clientes sin excepción deben presentarse con esta documentación en la base del Operador
                    para
                    la recogida del vehículo:
                </p>
                <div class="list-tos">
                    <ol>
                        <li> DNI/NIF, NIE o PASAPORTE ORIGINAL del titular del contrato y del conductor o conductores,
                            así
                            como del
                            titular de la tarjeta. En el caso de extranjeros no comunitarios deberán presentar en todo
                            caso
                            el
                            pasaporte sellado por un Estado Miembro.</li>
                        <li> PERMISO DE CONDUCIR EN VIGOR SEGÚN LA LEGISLACIÓN DEL PAÍS, EN ESTE CASO ESPAÑA, ORIGINAL
                            de
                            TODOS LOS
                            CONDUCTORES.</li>
                        <li>
                            Se reputarán únicamente como permisos de conducir válidos en España los siguientes:
                        </li>
                        <div class="list-tos">
                            <ol type="A">
                                <li>
                                    Los permisos expedidos en países de la Unión Europea y el Espacio Económico Europeo
                                    (Islandia,
                                    Liechtenstein y Noruega).</li>
                                <li> Los nacionales de otros países que estén expedidos de conformidad con el Anexo 9 de
                                    la
                                    Convención de
                                    Ginebra, o con el Anexo 6 de la Convención de Viena, o que difieran de dichos
                                    modelos
                                    únicamente en la
                                    adopción o supresión de rúbricas no esenciales.</li>
                                <li> Los nacionales de otros países que estén redactados en castellano o vayan
                                    acompañados
                                    de una traducción
                                    oficial del mismo.</li>
                                <li>Los internacionales expedidos en el extranjero de conformidad con el Anexo 10 de la
                                    Convención de
                                    Ginebra, o de acuerdo con el modelo de Anexo E de la Convención Internacional de
                                    París,
                                    si se trata de
                                    naciones adheridas a este Convenio que no hayan suscrito o prestado adhesión al de
                                    Ginebra.</li>
                                <li>
                                    Los reconocidos en particulares convenios internacionales en los que España sea
                                    parte y
                                    en las
                                    condiciones que se indiquen en los mismos.</li>

                                <li>Los permisos expedidos en países de la Unión Europea y el Espacio Económico Europeo
                                    (Islandia,
                                    Liechtenstein y Noruega).</li>
                            </ol>
                        </div>

                    </ol>
                </div>
                <p> No obstante lo anterior, la validez de tales permisos estará condicionada a que los mismos se
                    encuentren
                    en vigor y que su titular tenga la edad requerida conforme a la normativa española para obtener el
                    permiso español equivalente, y, además, a que no haya transcurrido el plazo de seis meses, como
                    máximo,
                    contados desde que sus titulares entren en cualquier estado de la Unión Europea.</p>
                <p> Contrato de alquiler, Bono/Voucher de la agencia vendedora o en su defecto referencia
                    (localizador/nº de
                    contrato) para localizarlo.
                    Tarjeta de crédito u debito ORIGINAL para cargos suplementarios y el depósito de la fianza. No
                    obstante,
                    algunos Operadores no admiten tarjeta de débito para depositar la fianza, circunstancia de la que el
                    cliente será informado en los Términos y Condiciones disponibles antes de realizar la reserva. En
                    estos
                    casos el cliente deberá de disponer de una tarjeta de crédito ORIGINAL a su nombre.</p>

                <p>En el caso de que el Operador no entregue el vehículo al cliente, por carecer éste de los requisitos
                    que
                    se exigen, o por defecto de la documentación exigida, o por no ser portador de la misma,
                    rentacardapp.com,informará al cliente de la imposibilidad de prestar el servicio, especialmente
                    cuando el Operador
                    solicite información adicional a la anterior, con el fin de confirmar la identidad, veracidad y
                    exactitud de los datos del contratante y el/los conductores, en el caso de estimarlo necesario o
                    conveniente, con el objetivo de disminuir el riesgo de incumplimiento de contrato o incluso el robo
                    del
                    vehículo por parte del cliente, cumplir la Ley Orgánica 4/2015, de 30 de marzo, de protección de la
                    seguridad ciudadana, así como de atender a los requerimientos recibidos por parte de cualquier ente
                    público en el desarrollo de sus competencias, y de cumplir lo que resulte preceptivo de conformidad
                    con
                    la legislación vigente.
                </p>
                <p>
                    En contrataciones con medios diferentes a los citados, el cliente habrá de llevar la documentación
                    que
                    en cada caso sea pertinente.
                </p>

                <h5>8. MODIFICACIONES Y CANCELACIONES DE LA RESERVA POR PARTE DEL CLIENTE.</h5>



                <p>
                    La modificación o cancelación de la reserva se podrá realizar en el apartado “Gestionar reserva” en
                    la
                    página Web www.rentacardapp.com, o llamando al número de teléfono 111 111 111. La cancelación del
                    servicio
                    podrá conllevar unos gastos de cancelación según los términos y condiciones particulares del
                    producto o
                    servicio contratado.
                </p>

                <p>
                    Las formas de proceder para solicitar modificaciones sobre el contrato, una vez iniciado ya el
                    servicio,
                    son las mismas expuestas para solicitar la cancelación del servicio, excepto para el alquiler de
                    furgonetas comerciales, en cuyo caso el cliente deberá contactar con el Operador, cuyos datos de
                    contacto se encuentran en correo de confirmación de la reserva, o llamando al número de teléfono
                    111.111.111.
                </p>
                <p>
                    Las presentes condiciones para la modificación y cancelación de reservas son aplicables únicamente a
                    clientes que contraten directamente a través de la página web de rentacardapp.com.</p>

                <p>En el caso de clientes que contraten a través de otras agencias deberá dirigirse a las mismas para
                    solicitar la modificación o cancelación de la reserva, sin perjuicio de los acuerdos comerciales
                    suscritos entre dichas agencias
                    y rentacardapp.com.
                </p>
                <p>
                    Las modificaciones de fechas en los contratos (extensiones, cambios en las fechas, etc.) están
                    sujetas a
                    la disponibilidad en cualquier caso.
                </p>





                <h5>9. EXCLUSIÓN DEL DERECHO DE DESISTIMIENTO.</h5>



                <p>De conformidad con el artículo 103.l) del Real Decreto Legislativo 1/2007, de 16 de noviembre, por el
                    que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y
                    otras leyes complementarias, el cliente no tiene derecho de desistimiento.
                </p>


                <h5>10. QUEJAS Y SUGERENCIAS.</h5>



                <p>Tras la finalización del servicio, si el cliente quiere hacer algún tipo de sugerencia o reclamación
                    puede contactar con rentacardapp.com:</p>
                <div class="list-tos">
                    <ul>
                        <li>A través de su número de Atención Telefónica 111.111.111.</li>
                        <li>A través de los canales legales habituales.</li>
                        <li>A través del <a href="/about">formulario de contacto</a> de la página Web
                            www.rentacardapp.com.</li>
                    </ul>

                </div>

                <h5>11. PROPIEDAD INTELECTUAL.</h5>



                <p>Todos los contenidos de la página de Web de rentacardapp.com son propiedad de RENT A CAR, S.L. o de
                    sus
                    proveedores y se encuentran protegidos por las normas nacionales e internacionales de propiedad
                    industrial e intelectual.</p>
                <p>Se prohíbe su modificación, reproducción, duplicación, copia, distribución,
                    venta, reventa y demás formas de explotación con fines comerciales o no sin autorización de GUERIN
                    RENT
                    A CAR, S.L.</p>

                <p>El cliente se compromete a no utilizar la página web para fines ilegales o prohibidos.</p>



                <h5>12. VÍNCULOS A OTROS SITIOS WEB</h5>



                <p>Nuestra página puede contener vínculos o enlaces a otros sitios web no gestionados por
                    rentacardapp.com.
                    Dichos vínculos o enlaces se incluyen sólo a efectos de referencia. rentacardapp.com no ejerce
                    control
                    alguno sobre dichos sitios web, ni es responsable del contenido de los mismos.</p>



                <h5>13. IDIOMA Y TRIBUNALES COMPETENTES</h5>



                <p> Cualquier controversia surgida de la interpretación o ejecución de las presentes condiciones
                    generales,
                    así como de la relación que surgiere entre el cliente, el conductor titular, los conductores
                    adicionales
                    y rentacardapp.com se interpretará bajo la legislación española sin perjuicio de lo establecido al
                    respecto en la legislación de protección al consumidor.</p>

                <p>Renta A CAR SL pone a disposición de los clientes hojas de reclamaciones que podrán obtener
                    dirigiendo
                    su solicitud a la atención del Dpto. atención al cliente, calle C/ de los neumaticos, C.P. 2384738,
                    Noexiste
                    (Huika) o bien a la dirección de correo electrónico <a
                        href="mailto:atencion_cliente@rentacardapp.com">atencion_cliente@rentacardapp.com</a>.</p>


                <h5>14. RESOLUCIÓN DE LITIGIOS EN LÍNEA.</h5>
                <p>En virtud del Reglamento (UE) 524/2013 del Parlamento Europeo y del
                    consejo, de 21 de mayo de 2013, la Comisión Europea facilita una plataforma Resolución de litigios
                    en
                    línea la cual se encuentra disponible en el siguiente enlace:
                    <a href="https://webgate.ec.europa.eu/odr/main/?event=main.home.show&lng=ES"
                        target="_blank">https://webgate.ec.europa.eu/odr/main/?event=main.home.show&lng=ES</a>
                </p>

                <p>
                    Los consumidores podrán someter sus reclamaciones a través de la plataforma de resolución de litigios en línea.</p>

            </div>

        </div>
    </section>
    <p id="parrafo_destacado_tos">Los presentes Términos del Servicio han sido actualizadas por última vez el 21 de
        Febrero de 2024.</p>
    <p>Estos términos entran en vigor a partir del <strong>21/02/2024.</strong></p>

</section>
{% endblock %}